.artists-body{
	line-height: 1px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.artists-text{
	margin-left: 100px;
	line-height: initial;
	width: 50%; 
}
.artists-header{
	margin-top: 70px;
	margin-bottom: 35px;
}
#artists-carousel{ 
	line-height: 1px;
}
.artist-thumb-mask{
	transition: all 0.2s ease-in-out;
	position: absolute;
	width: 100%;
	height: 100%;
}
.artists-picture{
	width: 50%;
}
.artists-item{
	transition: all 0.2s ease-in-out;
	position: relative;
	height: 250px;
	img{
		width: 100%;
		height: 100%;
	}
	&:hover{
		.artist-thumb-mask{
			background-color: rgba(78,78,78, 0.5);
			cursor: pointer;
			}
		.artists-thumb-text{
			opacity: 1;
		}
	}
}
.artists-thumb-text{
	transition: all 0.2s ease-in-out;
	line-height: initial;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	font-size: 1.2em;
	p{
			font-family: 'Srisakdi', cursive;
			text-align: center;
			font-size: 1.2em;
	}

}
.artists-name{
	margin-bottom: 5px;
}
#ARTIST_PIC{
	height: 600px;
	width: 100%;
}
.artists-social{
	font-size: 2em;
	margin-top: 30px;
	i{
		margin-right: 30px;
		transition: all 0.2s;
		&:hover{
			color: #191919;
		}
	}
}
.artists-prev, .artists-next{
	position: absolute;
	top: 15%;
	z-index: 999;
	display: block;
	outline: 0;
	border: none;
	background-color: transparent;
	color: #fff;
	opacity: 1;
	transition: .2s;
	&:hover{
		cursor: pointer;
		opacity: .7;
	}
	&:before{
		font-family: "Font Awesome 5 Free";
		font-size: 3em;
	}
}
.artists-next{
	right: 0;
	&:before{
		content: '\f35a';
	}
}
.artists-prev{
	left: 0;
	&:before{
		content: '\f359';
	}
}

@media (max-width: 768px) {
	.artists-text{
		margin-left: 20px;
	}
}
@media (max-width: 425px){
	.artists-text{
		margin: 0 20px 0 20px;
		width: 100%;
	}
	.artists-header{
		margin-top: 40px;
		margin-bottom: 20px;
	}
}