header{
	position: relative;
	z-index: 10;
}
.header{
	padding-top: 80px;
}
.header-fb{
	background-color: #fff;
	padding: 7px 10px;
	border-radius: 50%;
}
.header-font-size{
	font-size: 1.2em;
}
.header-logo{
	position: relative;
}
.header-link{
	text-transform: uppercase;
	text-decoration: none;
	transition: color 0.3s;
	&:hover{
		color: #c7c6c6;
	}
}
.header-menu{
	margin: 0 auto;
	margin-top: 40px;
	width: 80%;
}
.header-skew{
	position: relative;
	margin-top: -125px;
	height: 200px;
	background-color: #191919; 
	-webkit-transform: skew(0deg, -4deg);
	   -moz-transform: skew(0deg, -4deg);
	    -ms-transform: skew(0deg, -4deg);
	     -o-transform: skew(0deg, -4deg);
	        transform: skew(0deg, -4deg);
	z-index: 9;
}
@media screen and (max-width: 768px) {
	.header-menu{
	font-size: 75%;
	}
}
@media (max-width: 425px) {
	.header-logo{
		margin: 0 auto;
	}
	.header-menu{
		font-size: 100%;
		text-align: center;
		div{
			padding-bottom: 1em;
		}
	}
}